
body {
  font-family: Arial, sans-serif;
  background-color: #c6dcff;
  /* Color del texto (si usas el azul oscuro) */
  color: #113558; 
  margin: 0;
  padding: 0;
}

h1 {
  color: #ffdf07;
  /* Alineación y espacio */
  text-align: center; 
  padding-top: 30px; 
  /* Sombra de texto suave para resaltar (opcional) */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4); 
}



/* --- ESTILO PARA PÁRRAFOS (<p>) --- */
p {
    color: #333333; 
    font-size: 1.1em;
    line-height: 1.7; 
    max-width: 900px; 
    margin: 20px auto; 
    padding: 0 15px;
    text-align: justify;
}

