.navigation-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #1c5791; 
    padding: 15px 0;
    text-align: center;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-bottom: 2px solid #ffdf07; 
}

.navigation-menu a {
    color: #fff;
    text-decoration: none;
    margin: 0 25px;
    font-size: 1.1em;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.navigation-menu a:hover {
    background-color: #ffdf07; 
    color: #1c5791; 
}


#seccion-linea-tiempo:target, h2:target, .subtitulo-seccion:target {
    padding-top: 90px;
    margin-top: -90px;
}

.contenedor-video {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
    align-items: center; 
}


.contenedor-imagenes-dobles {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
    max-width: 300px;
    margin: 20px auto;
}

.contenedor-imagenes-dobles img {
    width: 48%; 
    height: auto;
    margin-bottom: 20px; 
    max-width: 100%; 
}

img {
    max-width: 100%;
    height: auto;
}



.contenedor-podio {
    display: flex; 
    justify-content: center; 
    align-items: flex-end; 
    max-width: 900px;
    margin: 40px auto;
    padding: 20px 0;
}

.pelicula-podio {
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
    margin: 0 10px;
    padding-top: 20px;
    background-color: #f0f8ff; 
    border-radius: 8px 8px 0 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.pelicula-podio:hover {
    transform: translateY(-5px);
}

.poster {
    width: 130px; 
    height: auto;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
}

.primero {
    order: 2; 
    height: 380px; 
    background-color: #ffdf07; 
    color: #1c5791;
}

.segundo {
    order: 1; 
    height: 330px;
    background-color: #c0c0c0; 
}

.tercero {
  
    order: 3;
    height: 280px;
    background-color: #cd7f32; 
}


.ranking-numero {
    font-size: 2.5em;
    font-weight: 700;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
    top: -15px; 
    border: 3px solid white;
}

.titulo-pelicula {
    font-size: 1.1em;
    margin: 5px 0 0;
    color: #113558;
    font-weight: 600;
}

.primero .ranking-numero {
    background-color: #1c5791;
    color: #ffdf07;
}

@media (max-width: 600px) {
    .contenedor-podio {
        flex-direction: column; 
        align-items: center;
    }
    .pelicula-podio {
        width: 80%; 
        margin-bottom: 20px;
        height: auto !important; 
        padding: 15px;
    }
    .poster {
        width: 100px;
    }
}