
.navigation-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #1c5791; 
    padding: 15px 0;
    text-align: center;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-bottom: 2px solid #ffdf07; 
}

.navigation-menu a {
    color: #fff;
    text-decoration: none;
    margin: 0 25px;
    font-size: 1.1em;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.navigation-menu a:hover {
    background-color: #ffdf07; 
    color: #1c5791; 
}

#seccion-linea-tiempo:target, h2:target, .subtitulo-seccion:target {
    padding-top: 90px;
    margin-top: -90px;
}

