body {
  font-family: Arial, sans-serif;
  background-color: #c6dcff;
}
h1 {
  color: #ffdf07 ;
}

h1 {
  color: #ffdf07;
  /* Centrado del texto */
  text-align: center; 
  /* Espacio extra encima para que no se pegue al borde superior */
  padding-top: 30px; 
}

body {
  font-family: Arial, sans-serif;
  background-color: #c6dcff;
  /* Define el color del texto principal para todo el cuerpo */
  color: #113558;
}


.contenedor {
  /* Fija un ancho máximo para el contenido (ej. 1000 píxeles) */
  max-width: 1000px; 
  /* Centra el bloque de contenido en el centro de la página */
  margin: 0 auto; 
  /* Añade un poco de relleno a los lados */
  padding: 0 20px; 
  /* Puedes darle un fondo blanco para que resalte del fondo azul (opcional) */
  background-color: white; 
  /* Borde redondeado suave (opcional) */
  border-radius: 5px; 
}